mtset.exe
mtflo.exe
mtsol.exe
mtflo
mtset
mtsol
forces.*
flowfield.*
boundary_layer.*
*.log
tdat.*
tflow.*
walls.*
*.dill
*.pyc
__pycache__/
/.venv/
venv/
.pytest_cache/
.mypy_cache/
.ipynb_checkpoints/
.python-version
*.csv